:root {
    --olive-dark: #212e83;
    --olive-light: #ffffff;
    --olive-semi-light: #eee9cf;
    --bg-common: #fffde7;
    --theme-primary: #2c9ec0;
    --gray-dark: #333333;
    --theme-muted-light: #ebebeb;
    --bg-sky-light: #e9faff;
}