:root {
    --olive-dark: #e6e6e6;
    --olive-light: #ffffff;
    --olive-semi-light: #eee9cf;
    --bg-common: #fffde7;
    --theme-primary: #8561b4;
    --gray-dark: #333333;
    --theme-muted-light: #ebebeb;
    --bg-sky-light: #e9faff;
}